.container{
    width: 800px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
/* .vip{
    display: flex;
    flex-wrap: wrap;
} */
.block{
    width: 300px;
    height: 480px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    }
.block img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-top: 80px;  
}
.block h3{
    margin-left: 15px;   
}
.block p{
    margin-left: 15px;
    width: 250px;
}
.block h5{
    margin-left: 15px;
    color: green;
}
.block a{
   margin-left: 15px;
} 
.block a b{
    color: black;
}