.App{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.Title{
    text-align: center;
}
h3{
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.g{
    font-size: 50px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    color: bisque;
    text-align: center;
}